<!-- <footer class="page-footer red">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <i class="fab fa-github"></i>
            <a class="white-text" href="https://github.com/Larsenv">GitHub</a>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
            <a class="white-text" href="https://twitter.com/Larsenv_293">Twitter</a>
          </li>
          <li>
            <i class="fab fa-youtube"></i>
            <a class="white-text" href="https://www.youtube.com/channel/UC4orjJ5aovq7pJeVA4CeM9g">YouTube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>